<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>OrderServlet</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <display-name>Ecommerce</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>UserReg</servlet-name>
    <servlet-class>UserReg</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>pupdate</servlet-name>
    <servlet-class>pupdate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Userlogin</servlet-name>
    <servlet-class>Userlogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Addproduct</servlet-name>
    <servlet-class>Addproduct</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Deleteproduct</servlet-name>
    <servlet-class>Deleteproduct</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Adminlogin</servlet-name>
    <servlet-class>Adminlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserReg</servlet-name>
    <url-pattern>/UserReg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>pupdate</servlet-name>
    <url-pattern>/pupdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Userlogin</servlet-name>
    <url-pattern>/Userlogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Addproduct</servlet-name>
    <url-pattern>/Addproduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Deleteproduct</servlet-name>
    <url-pattern>/Deleteproduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Adminlogin</servlet-name>
    <url-pattern>/Adminlogin</url-pattern>
  </servlet-mapping>
</web-app>